:root {
  --text-color: #e0e0e0;
  --content-text-color: #000000;
  --background: #d8d8d8;
  --info-background-color: #2c2c2c;
}

* {
  box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p, figure, ul {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--background);
}

._container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  width: 100%;
  margin-bottom: 40px;
  color: var(--text-color);
  background-color: var(--info-background-color);
}

.header__inner {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.header__request-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.header__request-category {
  font-size: 22px;
  font-weight: 600;
}

.header__request-id {
  font-size: 18px;
  font-weight: 500;
}

.header__request-status-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.page-content {
  width: 100%;
  margin-bottom: 40px;
}

.page-content__inner {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}

.history {
  width: 100%;
}

.history__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.history__messages-wrapper {
  width: 100%;
}

.history__messages-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.history__message {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  outline: 2px solid #000000;
  padding: 15px 15px;
}

.message__info-wrapper, .message__date {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message__date {
  font-size: 14px;
}

.message__description {
  font-weight: 600;
  font-size: 16px;
}

.message__date-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page-footer {
  width: 100%;
  background-color: var(--info-background-color);
  padding: 20px 10px;
}

.navigation {
  width: 100%;
}

.navigation__inner {
  width: 100%;
}

.navigation__menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


.navigation__menu-item:hover a {
  color: #ffffff;
}

.navigation__link {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  transition: .3s ease-in-out;
  font-size: 18px;
}

.navigation__menu-item:last-child {
  transform: scale(-1, 1);
}




